name: "Max Chang And Friends"

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "public/**"
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"  # Runs at 00:00 every day

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Check for changes in `src`
        id: changes
        run: |
          if git log --format='' --name-only -n 1 | grep -E '^src/'; then
            echo "DATA_CHANGED=true" >> $GITHUB_ENV
          else
            echo "DATA_CHANGED=false" >> $GITHUB_ENV
          fi

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run checks
        run: bun check

      - name: Build
        run: bun start

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          clean: true

      - name: Trigger a Deploy hook
        if: env.DATA_CHANGED == 'true' && env.deployment_status == 'success'
        run: curl -X POST ${{ secrets.DEPLOY_HOOK_URL }}
