name: "Max Chang And Friends"

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "data/**"
      - "public/**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Check for changes in `data` or `src`
        id: changes
        run: |
          if git log --format='' --name-only -n 1 | grep -E '^(data|src)/'; then
            echo "DATA_CHANGED=true" >> $GITHUB_ENV
          else
            echo "DATA_CHANGED=false" >> $GITHUB_ENV
          fi

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run checks
        run: bun check

      - name: Build
        run: bun start

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          branch: gh-pages
          folder: dist
          clean: true

      - name: Trigger a Deploy hook
        if: env.DATA_CHANGED == 'true'
        run: curl -X POST ${{ secrets.DEPLOY_HOOK_URL }}
